parameters:
	level: 6
	paths:
		- src/

	excludePaths:
		- src/Shell/

	bootstrapFiles:
		- %rootDir%/../../../tests/bootstrap.php
		- %rootDir%/../../../tests/shim.php
		- %rootDir%/../../../tests/config/bootstrap.php
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	reportUnmatchedIgnoredErrors: false
	earlyTerminatingMethodCalls:
		Cake\Console\Shell:
			- abort

	ignoreErrors:
		- '#Parameter \#1 \$items of class .+Collection constructor expects iterable, .+StatementInterface given.#'
		- '#Call to function property\_exists\(\) with .+Table and .+ will always evaluate to false.#'
		-
			message: '#If condition is always false.#'
			path: '%currentWorkingDirectory%/src/Shell/IndentShell.php'
