parameters:
	autoload_files:
		- %rootDir%/../../../tests/bootstrap.php
		- %rootDir%/../../../tests/shim.php
		- %rootDir%/../../../tests/config/bootstrap.php
	ignoreErrors:
		- '#Call to an undefined method .+FlashComponent::warning\(\)#'
		- '#Access to protected property Cake\\Http\\ServerRequest::\$url#'
		- '#Access to protected property Cake\\View\\View::\$helpers#'
		- '#Access to protected property Cake\\View\\View::\$_ext#'
		- '#Call to function method_exists\(\) with .+Entity.+ and .+ will always evaluate to false.#'
		-
			message: '#If condition is always false.#'
			path: 'src/Shell/IndentShell.php'
