parameters:
	bootstrapFiles:
		- %rootDir%/../../../tests/bootstrap.php
		- %rootDir%/../../../tests/shim.php
		- %rootDir%/../../../tests/config/bootstrap.php
	checkMissingIterableValueType: false
	earlyTerminatingMethodCalls:
		Cake\Console\Shell:
			- abort

	ignoreErrors:
		- '#Call to an undefined method .+FlashComponent::warning\(\)#'
		- '#Parameter \#1 \$items of class .+Collection constructor expects iterable, .+StatementInterface given.#'
		-
			message: '#If condition is always false.#'
			path: '%currentWorkingDirectory%/src/Shell/IndentShell.php'
